* {
  box-sizing: border-box;
}
/* sets the background for the header */
header {

  border: 30px;
  padding: 40px;
  background-color: #0A0B0D
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header nav ul {
  display: flex;
  flex-direction: row;
  padding-bottom: 0;
  list-style-type: none;
}

header nav ul li a {
  color: #7286A0;
  text-decoration: none;
  padding: 0 50px 0 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
  

}

head nav ul li a:hover {
  color:rgb(70, 82, 97);
}
/* aligns the image in the center */
.picture-of-me {
  text-align: center;
  padding: 25px;
  
  
}


/* sets the image size */
img {
  width: 100%;
}




/* sets the body background color and margin */

body {
  margin: 0;
  background-color: #A0A08D;

  

}

/* sets the main parameters */
main {
  padding: 20px 0;
}

/* sets the sectio parameters */
section {
  margin-bottom: 100px;
}
/* sets the font and text position for the headings and paragraphs */
h1, h2, p, h4 {
 
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;

}

/* sets the color of the headings and font size */
h1 {
   color: #7286A0;
   font-size: 40px;
}
h2 {
  color: #000000;
  font-size: 30px;
}

p {
  font-size: 20px;
}

h4 {
  font-size:25px;
}
/* sets the unordered list position */
ul {
  text-align: center;
  list-style-position: inside;
  font-size: 20px;
  height: auto;
}


/* sets the background for the footer */
footer {
  color: #BEB6B4;
  border: 25px;
  padding: 25px;
  background-color:#0A0B0D;
  text-align: center;
  
  
}

/* sets the text color for all the sections */
.intro, .about-me, .contact-me {
  color:#0A0B0D;
  overflow: hidden;
}





/* sets link parameters */

main a {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  text-decoration: none;
}


main  a:link {color: #010246}
main  a:visited {color: #010246}
main  a:hover {color: #7286A0}
a:active {color: #7286A0}

a:hover {
  text-decoration: underline;
}

/* Groups and Items (Mobile First) */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;

}

.item-double {
  flex: 2;
  margin: 10px;
}

/* Groups and Items (Desktop) */

@media all and (min-width: 700px) {
  

  .group {
    flex-direction: row;
  }

  header {
    display: flex;
    justify-content: space-between;
  }
  
  header nav {
    
    margin-top: 14px;
  }

 

}

/* Article Sections */

#home, #about, #portfolio, #contact {
  margin-bottom: 120px;
}

/* About Article */ 

#about, #contact {
  background-color: #9C9C9C;
  padding: 20px 0 30px 0;
  margin: 120px 0;
}


/* Desktop Groups and Items */

@media all and (min-width: 800px) {
  section {
    padding: 0 10%;
  }

  .group {
    flex-direction: row;
  }
}

/* Form section */

form {
  padding-right: 8px;
}

form label {
  display: block;
}

form input,
form textarea {
  width: 100%;
  margin-bottom: 20px;
}

form textarea {
  height: 160px;
}

@media all and (max-width: 500px) {
  header nav ul {
    display: block;
    flex-direction: row;
    padding-bottom: 0;
  }
}

