/* sets all HTML elements to border box sizing */
* {
  box-sizing: border-box;
}
/* sets the background for the header */
header {
  border: 30px;
  padding: 40px;
  background-color: #0A0B0D
}
/* aligns the image in the center */
.picture-of-me {
  text-align: center;
  padding: 25px;
  
  
}

/* sets the image size */
img {
  width: 100%;
}




/* sets the body background color and margin */

body {
  margin: 0;
  background-color: #59594A

  

}
/* sets the font and text position for the headings and paragraphs */
h1, h2, p, h4 {
 
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;

}

/* sets the color of the headings and font size */
h1 {
   color: #7286A0;
   font-size: 40px;
}
h2 {
  color: #BEB6B4;
  font-size: 30px;
}

p {
  font-size: 20px;
}

h4 {
  font-size:25px;
}
/* sets the unordered list position */
ul {
  text-align: center;
  list-style-position: inside;
  font-size: 20px;
  height: auto;
}

ol {
  text-align: center;
  list-style-position: inside;
  font-size: 20px;
  height: auto;
}

/* sets the background for the footer */
footer {
  color: #BEB6B4;
  border: 25px;
  padding: 25px;
  background-color:#0A0B0D;
  text-align: center;
  
  
}

/* sets the text color for all the sections */
.intro, .about-me, .contact-me {
  color:#0A0B0D;
  overflow: hidden;
}

/* sets the margins for all the sections */



/* sets link parameters */
a {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
}


a:link {color: blue}
a:visited {color: purple}
a:hover {color: red}
a:active {color: aqua}

/* Groups and Items (Mobile First) */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;

}

.item-double {
  flex: 2;
  margin: 10px;
}

/* Groups and Items (Desktop) */

@media all and (min-width: 800px) {
  .wrapper {
    width: 80%;
    margin: auto;
  }

  .group {
    flex-direction: row;
  }
}

/* Article Sections */

#home, #portfolio, #contact {
  margin-bottom: 120px;
}

/* About Article */ 

#about {
  background-color:rgb(122, 121, 120);
  padding: 20px 0 30px 0;
  margin: 120px 0;
}
